.logo{
    height: 68px;
    weight: 29px;
}
.button{
    background-color: #21B573;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 9px 25px;
    cursor: pointer;
}
.first-line{
    color: orangered;
}
.head-line{
    color: #21B573;
}
.container{
    margin-bottom: 100px;
}
.sec{
    background-color: #F0FFF0;
}

.card-ico{
    width: 7%;
    
}
.tab{
    margin-left: 5em;
}
.courses-img{
    margin: 5%;
    width: 90%;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
.card-back{
    background-color: #F0FFF0;
    
}
.card-back:hover{
    background-color: white;
}
.marg{
    margin: 5%;
}
.text{
    text-align: center;
    font-weight: 700;
}
.testimonial-img{
    width: 20%;
}
footer{
    background-color: #282531;
    color: white;
    width:100%;
    padding: 40px 40px;
    
    
}
footer .container{
    margin-bottom: 0px;
}
.img-width{
    width: 30%;
    margin: 5%;
}
.abc{
    text-align: left;
}
.copyright{
    text-align: center;
}
ul li{
    list-style-type: none;
    
}
ul li a{
    color: white;
    
}
ul li a:hover{
    text-decoration: none;
    color: wheat;
}
small{
    margin: 0px;
}
